<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Flores Amarillas para una persona espacial 🌸" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/flores-amarillas/icon.webp" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://joacohbc.github.io/flores-amarillas/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Flores Amarillas" />
		<meta
			property="og:description"
			content="Flores Amarillas para una persona especial 🌸"
		/>

		<meta property="og:image" content="/flores-amarillas/icon.webp">
		<meta property="og:site_name" content="Flores Amarillas" />
		<meta property="og:locale" content="es_ES" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="joacohbc.github.io" />
		<meta property="twitter:url" content="https://joacohbc.github.io/flores-amarillas/" />
		<meta name="twitter:title" content="Flores Amarillas" />
		<meta
			name="twitter:description"
			content="Flores Amarillas para una persona especial 🌸"
		/>
		<meta name="twitter:image" content="/flores-amarillas/icon.webp">

		<meta name="generator" content={Astro.generator} />
		<title>Flores Amarillas</title>
	</head>
	<body class="love-font bg-yellow-100 flex flex-col items-center justify-center h-svh w-svw">
		<div class="bg-img flex flex-col items-center justify-center my-5 mx-5 rounded-3xl p-3">
			<div class="card relative bg-yellow-200 shadow-xl rounded-3xl m-3">
				<h1 class="text-2xl md:text-3xl mt-5 text-center">Flores Amarillas</h1>
				<img src="/flores-amarillas/flowers-flork.webp" class="max-h-96">
				<h1 class="love-font text-2xl md:text-3xl mt-5 text-center mb-5">Para Ti</h1>
				<svg class="absolute w-7 top-5 left-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 2a3 3 0 0 1 3 3c0 .562 -.259 1.442 -.776 2.64l-.724 1.36l1.76 -1.893c.499 -.6 .922 -1 1.27 -1.205a2.968 2.968 0 0 1 4.07 1.099a3.011 3.011 0 0 1 -1.09 4.098c-.374 .217 -.99 .396 -1.846 .535l-2.664 .366l2.4 .326c1 .145 1.698 .337 2.11 .576a3.011 3.011 0 0 1 1.09 4.098a2.968 2.968 0 0 1 -4.07 1.098c-.348 -.202 -.771 -.604 -1.27 -1.205l-1.76 -1.893l.724 1.36c.516 1.199 .776 2.079 .776 2.64a3 3 0 0 1 -6 0c0 -.562 .259 -1.442 .776 -2.64l.724 -1.36l-1.76 1.893c-.499 .601 -.922 1 -1.27 1.205a2.968 2.968 0 0 1 -4.07 -1.098a3.011 3.011 0 0 1 1.09 -4.098c.374 -.218 .99 -.396 1.846 -.536l2.664 -.366l-2.4 -.325c-1 -.145 -1.698 -.337 -2.11 -.576a3.011 3.011 0 0 1 -1.09 -4.099a2.968 2.968 0 0 1 4.07 -1.099c.348 .203 .771 .604 1.27 1.205l1.76 1.894c-1 -2.292 -1.5 -3.625 -1.5 -4a3 3 0 0 1 3 -3z" style="fill: rgb(255, 227, 0);"/>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" style="fill: rgb(255, 243, 145);"/>
				</svg>
				<svg class="absolute w-7 top-5 right-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 2a3 3 0 0 1 3 3c0 .562 -.259 1.442 -.776 2.64l-.724 1.36l1.76 -1.893c.499 -.6 .922 -1 1.27 -1.205a2.968 2.968 0 0 1 4.07 1.099a3.011 3.011 0 0 1 -1.09 4.098c-.374 .217 -.99 .396 -1.846 .535l-2.664 .366l2.4 .326c1 .145 1.698 .337 2.11 .576a3.011 3.011 0 0 1 1.09 4.098a2.968 2.968 0 0 1 -4.07 1.098c-.348 -.202 -.771 -.604 -1.27 -1.205l-1.76 -1.893l.724 1.36c.516 1.199 .776 2.079 .776 2.64a3 3 0 0 1 -6 0c0 -.562 .259 -1.442 .776 -2.64l.724 -1.36l-1.76 1.893c-.499 .601 -.922 1 -1.27 1.205a2.968 2.968 0 0 1 -4.07 -1.098a3.011 3.011 0 0 1 1.09 -4.098c.374 -.218 .99 -.396 1.846 -.536l2.664 -.366l-2.4 -.325c-1 -.145 -1.698 -.337 -2.11 -.576a3.011 3.011 0 0 1 -1.09 -4.099a2.968 2.968 0 0 1 4.07 -1.099c.348 .203 .771 .604 1.27 1.205l1.76 1.894c-1 -2.292 -1.5 -3.625 -1.5 -4a3 3 0 0 1 3 -3z" style="fill: rgb(255, 227, 0);"/>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" style="fill: rgb(255, 243, 145);"/>
				</svg>
				<svg class="absolute w-7 bottom-5 left-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 2a3 3 0 0 1 3 3c0 .562 -.259 1.442 -.776 2.64l-.724 1.36l1.76 -1.893c.499 -.6 .922 -1 1.27 -1.205a2.968 2.968 0 0 1 4.07 1.099a3.011 3.011 0 0 1 -1.09 4.098c-.374 .217 -.99 .396 -1.846 .535l-2.664 .366l2.4 .326c1 .145 1.698 .337 2.11 .576a3.011 3.011 0 0 1 1.09 4.098a2.968 2.968 0 0 1 -4.07 1.098c-.348 -.202 -.771 -.604 -1.27 -1.205l-1.76 -1.893l.724 1.36c.516 1.199 .776 2.079 .776 2.64a3 3 0 0 1 -6 0c0 -.562 .259 -1.442 .776 -2.64l.724 -1.36l-1.76 1.893c-.499 .601 -.922 1 -1.27 1.205a2.968 2.968 0 0 1 -4.07 -1.098a3.011 3.011 0 0 1 1.09 -4.098c.374 -.218 .99 -.396 1.846 -.536l2.664 -.366l-2.4 -.325c-1 -.145 -1.698 -.337 -2.11 -.576a3.011 3.011 0 0 1 -1.09 -4.099a2.968 2.968 0 0 1 4.07 -1.099c.348 .203 .771 .604 1.27 1.205l1.76 1.894c-1 -2.292 -1.5 -3.625 -1.5 -4a3 3 0 0 1 3 -3z" style="fill: rgb(255, 227, 0);"/>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" style="fill: rgb(255, 243, 145);"/>
				</svg>
				<svg class="absolute w-7 bottom-5 right-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 2a3 3 0 0 1 3 3c0 .562 -.259 1.442 -.776 2.64l-.724 1.36l1.76 -1.893c.499 -.6 .922 -1 1.27 -1.205a2.968 2.968 0 0 1 4.07 1.099a3.011 3.011 0 0 1 -1.09 4.098c-.374 .217 -.99 .396 -1.846 .535l-2.664 .366l2.4 .326c1 .145 1.698 .337 2.11 .576a3.011 3.011 0 0 1 1.09 4.098a2.968 2.968 0 0 1 -4.07 1.098c-.348 -.202 -.771 -.604 -1.27 -1.205l-1.76 -1.893l.724 1.36c.516 1.199 .776 2.079 .776 2.64a3 3 0 0 1 -6 0c0 -.562 .259 -1.442 .776 -2.64l.724 -1.36l-1.76 1.893c-.499 .601 -.922 1 -1.27 1.205a2.968 2.968 0 0 1 -4.07 -1.098a3.011 3.011 0 0 1 1.09 -4.098c.374 -.218 .99 -.396 1.846 -.536l2.664 -.366l-2.4 -.325c-1 -.145 -1.698 -.337 -2.11 -.576a3.011 3.011 0 0 1 -1.09 -4.099a2.968 2.968 0 0 1 4.07 -1.099c.348 .203 .771 .604 1.27 1.205l1.76 1.894c-1 -2.292 -1.5 -3.625 -1.5 -4a3 3 0 0 1 3 -3z" style="fill: rgb(255, 227, 0);"/>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" style="fill: rgb(255, 243, 145);"/>
				</svg>
			</div>
		</div>
		<div id="text-introduction" class="bg-black text-5xl text-center text-white absolute top-0 left-0 h-svh w-svw p-5 z-50 grid place-content-center">
			<h2>¿Un click? c:</h2>
		</div>
	</body>
</html>

<script>
	const textIntroduction = document.getElementById('text-introduction');
	textIntroduction?.addEventListener('click', async () => {
		textIntroduction.style.transition = 'all ease-in-out 2s';
		textIntroduction.innerHTML = 'Quizas n0 s0n reales, per0...';
		await new Promise((resolve) => setTimeout(resolve, 1900));
		textIntroduction.innerHTML = 'Si s0n tuyas <3';

		await new Promise((resolve) => setTimeout(resolve, 1000));
		textIntroduction.style.opacity = '0';
		textIntroduction.style.pointerEvents = 'none';
	});

	// Card rotate to left if mouse enter from right and vice versa
	const card = document.querySelector('.card') as HTMLElement;
	card?.addEventListener('mouseenter', (event) => {
		const { clientX } = event as MouseEvent;
		const { left, right } = card.getBoundingClientRect();
		const isEnterFromRight = clientX > (left + right) / 2;
		card.style.transform = `rotate(${isEnterFromRight ? 1 : -1}deg)`;
		card.style.transition = 'all ease-in-out 0.3s';
		card.style.filter = 'drop-shadow(0 0 0.75rem rgb(255, 238, 0))';
		card.style.scale = '1.01';
	});

</script>

<style>
	@font-face {
		font-family: 'love-font';
		src: url('/flores-amarillas/Love.woff2') format('woff2'),
	}

	svg {
		animation: rotate 5s linear infinite;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.love-font {
		font-weight: bolder;
		font-family: 'love-font', sans-serif;
	}

	.bg-img {
		background-image: url("/flores-amarillas/bg.webp");
		background-size: contain;
		transition: all ease-in-out 0.3s;
	}
</style>
